@media(max-width:991px){
    .formulario{
        display: flex;
        justify-content: center;
        text-align:left;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        padding-right:14px ;
    }
    .embrulho__formulario{
         padding: 0px 15px 0px;
         border-radius: 10px;
         border: 1px solid #aaa;
         background-color: rgba(255, 255, 255, 0.9);
         /*width: 100%;*/
        /* margin: 0 15px;*/
        margin-top: 0;
     }
    section{
        padding: 50px 0% 10px 0%;
        width: auto;
    }
    .imagem{
        padding: 0;
    }
    .corpo{
        background-image: linear-gradient(rgb(46, 46, 117), rgb(55, 71, 100),  transparent, rgb(72, 87, 107));
        background-size: cover;
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
    }
    .link__formulario{
        font-size: 16px;
    }
    .cadastro__formulario{
        padding-top: 0;
        padding-bottom: 5px;
    }
}
